.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

section {
  margin-bottom: 2.8em;
}

h2 {
  padding-left: .4em;

  border-left: 8px #555 solid;
}

.btn {
  width: 100%;

  font-size: 1.2em;
  cursor: pointer;
}

.hljs {
  padding: 1.2em;

  font-family: 'Source Code Pro', monospace;
  font-size: .9em;
  line-height: 1.2;

  border-radius: 4px;
}

p code {
  display: inline-block;
  padding: .2em .3em;

  background: #f0f0f0;
  border: 1px #ccc solid;
  border-radius: 4px;

  font-family: 'Source Code Pro', monospace;
  font-size: .9em;
  line-height: 1;
}

.api-link {
  margin-bottom: .4em;

  font-size: 1.6em;
}
.api-link::before {
  content: "⇒ ";
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .8em;
}
dd:last-child {
  margin-bottom: 0;
}
