section {
  margin-bottom: 2.8em;
}

h2 {
  padding-left: .4em;

  border-left: 8px #555 solid;
}

div[class^="status"] {
  margin-bottom: 40px;
}

button {
  width: 100%;
  padding: .6em 0;

  font-size: 16px;

  cursor: pointer;
}

.hljs {
  padding: 1.2em;

  border-radius: 4px;
}

.api-link {
  margin-bottom: .4em;

  font-size: 1.6em;
}
.api-link::before {
  content: "⇒ ";
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .8em;
}
dd:last-child {
  margin-bottom: 0;
}
